.added-main{
    display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 30px;
            margin-left: 300px;
}
.added-main h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    margin-top: 20px;

}
