.card-container{
    font-family: 'Noto Sans', sans-serif;
        height: 590px;
        width: 720px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: #FDFDFD;
        border: 1px solid #D8D8D8;
}
.card {
    padding: 10px;
        text-align: left;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 126px;
        background-color: #D7FDFF;
        margin-top: 30px;
}

.card h2 {
    font-size: 23px;
    font-weight: 600;
}
.card p {
    font-size: 15px;
    font-weight: 300;
}

.card img {
    width: 123px;
    height: 98px;
    margin-right: 20px;
}